<!DOCTYPE html>
<html>
<head>
  <title>HW-RUBY-APP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if !user_signed_in? %>
<body id="sign-bg">
<% else %>
<body>
  <header id="header">
        <span id="logo">Slife</span>
        <nav class="navbar">
            <ul class="nav navbar-nav">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Profile", user_show_path %></li>
              <li><a href="#">Page 2</a></li>
              <li><a href="#">Page 3</a></li>
            </ul>
        </nav>
        <span id="user-credentials">
          Welcome,
          <% if current_user.professor? %>
          Professor <%= current_user.full_name %>!
          <% else %>
          <%= current_user.full_name %>!
          <% end %>
          <%= link_to('X', destroy_user_session_path, :method => :delete, :id => "logout") %>
        </span>
  </header>
<% end %>
<main>
  <%= yield %>'
</main>
</body>
</html>
